In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


df = pd.read_excel('fnatic_msi.xlsx')
df.head(6)

,position,player,team,champion,ban1,ban2,ban3,ban4,ban5,gamelength,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
0,Top,Bwipo,Fnatic,Vladimir,Karma,Morgana,Rakan,Shen,Lulu,36.383333,...,-386,4706,4883,-177,83,99,-16,135,152,-17
1,Jungle,Broxah,Fnatic,Trundle,Karma,Morgana,Rakan,Shen,Lulu,36.383333,...,106,3779,3721,58,62,66,-4,94,105,-11
2,Middle,Caps,Fnatic,Yasuo,Karma,Morgana,Rakan,Shen,Lulu,36.383333,...,-221,4700,4731,-31,88,97,-9,147,158,-11
3,ADC,Rekkles,Fnatic,Kai'Sa,Karma,Morgana,Rakan,Shen,Lulu,36.383333,...,-1119,3395,3123,272,90,94,-4,138,164,-26
4,Support,Hylissang,Fnatic,Braum,Karma,Morgana,Rakan,Shen,Lulu,36.383333,...,46,2563,2661,-98,14,13,1,25,23,2
5,Team,Team,Fnatic,?,Karma,Morgana,Rakan,Shen,Lulu,36.383333,...,-1574,19143,19119,24,337,369,-32,539,602,-63

In [20]:
bans = df.query('position == "Team"')
bans = bans.loc[:,'ban1':'ban5']
for id, row in bans.iterrows():
    print(row)

ban1      Karma
ban2    Morgana
ban3      Rakan
ban4       Shen
ban5       Lulu
Name: 5, dtype: object
ban1     Kai'sa
ban2      Rakan
ban3      Karma
ban4    Camille
ban5       Gnar
Name: 11, dtype: object
ban1        Ezreal
ban2    Tahm Kench
ban3          Olaf
ban4       Sejuani
ban5        Graves
Name: 17, dtype: object
ban1       Graves
ban2      Morgana
ban3    Gangplank
ban4         Ornn
ban5     Vladimir
Name: 23, dtype: object
ban1     Graves
ban2     Kai'Sa
ban3       Ornn
ban4    Kha'zix
ban5    Taliyah
Name: 29, dtype: object
ban1     Kog'Maw
ban2      Kai'Sa
ban3    Vladimir
ban4        Shen
ban5       Karma
Name: 35, dtype: object
ban1    Kha'zix
ban2     Graves
ban3      Rakan
ban4     Soraka
ban5      Janna
Name: 41, dtype: object
ban1    Morgana
ban2    Trundle
ban3     Kai'Sa
ban4       Shen
ban5     Singed
Name: 47, dtype: object
ban1    Tahm Kench
ban2         Rakan
ban3        Ezreal
ban4       Alistar
ban5       Skarner
Name: 53, dtype: object
ban1    Kha'zix
ban2     Kai'Sa
ban3     Graves
ban4    Taliyah
ban5    Camille
Name: 59, dtype: object
ban1    Malzahar
ban2      Kai'Sa
ban3     Morgana
ban4        Ornn
ban5     Skarner
Name: 65, dtype: object
ban1     Kai'sa
ban2      Karma
ban3    Morgana
ban4       Ornn
ban5        Zoe
Name: 71, dtype: object
ban1     Kai'sa
ban2      Karma
ban3    Morgana
ban4       Olaf
ban5     Irelia
Name: 77, dtype: object
ban1      Kai'sa
ban2       Karma
ban3    Vladimir
ban4      Irelia
ban5     Morgana
Name: 83, dtype: object